/* index.css */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  --vh: 100vh; /* Varsayılan değer */
}

body, html, #root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100); /* Dinamik yüksekliği kullan */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.ticket-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  padding: 10px;
}

.ticket-image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.owner-name {
  position: absolute;
  top: 40%; 
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Bebas Neue', sans-serif;
  color: white;
  pointer-events: none;
  letter-spacing: 2px;
}

.stamp-background {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  transform: scale(0.5); /* Küçük başlayıp büyümesi için başlangıç ölçeği */
}

.stamp img{
  width: 150px;
  height: 150px;
}

/* Animasyon için yeni sınıf */
.animate-stamp {
  animation: stampAppear 0.3s ease forwards;
}

.popup {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: #4caf50;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.download-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.download-button:hover {
  background: #0056b3;
}


@keyframes stampAppear {
  to {
    opacity: 1;
    transform: scale(1); /* Yavaşça büyüme efekti */
  }
}

.stamp {
  width: 120px;
  height: 120px;
  pointer-events: none;
}

/* Mobil cihazlarda yatay moda çevir */
@media (max-width: 768px) {
  .ticket-image {
    width: 90vh;
    height: auto;
    transform: rotate(90deg);
  }

  .owner-name {
    top: 25%;
    left: 47%;
    transform: translate(-50%, -50%) rotate(90deg);
  }
}
