/* index.css */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body, html, #root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f4f8;
}

.ticket-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  padding: 10px;
}

.ticket-image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.owner-name {
  position: absolute;
  top: 40%; 
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Bebas Neue', sans-serif;
  color: white;
  pointer-events: none;
  letter-spacing: 2px;
}

.stamp-background {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #000;
  border-radius: 5px;
  pointer-events: none;
  opacity: 0;
  animation-name: pulse;
  animation-delay: 2.5s;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

/* Animasyon için yeni sınıf */
/* Animasyon için keyframes */
@keyframes pulse {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.5;
    transform-origin: 50% 50%;
    transform: rotate(-2deg) scale(5);
    transition: all 0.3s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
  100% {
    opacity: 1;
    transform: rotate(-15deg) scale(1);
  }
}

.stamp {
  width: 100px;
  height: 100px;
  pointer-events: none;
}

/* Mobil cihazlarda yatay moda çevir */
@media (max-width: 768px) {
  .ticket-image {
    width: 90vh;
    height: auto;
    transform: rotate(90deg);
  }

  .owner-name {
    top: 25%;
    left: 47%;
    transform: translate(-50%, -50%) rotate(90deg);
  }
}
